# Source the environment from the repo above, I believe this only works because
# this controls some environment variables.
source $(pwd)/../.venv/bin/activate

export PGSSLMODE=require

# Export some expected DBT config.
# Use a local profile for DBT.
export DBT_PROFILES_DIR=$(pwd)

# Dev
# The user in kubernetes configs etc uses a '-', but DBT needs this as a '_'.
export DBT_DWH_DEV_USER="dwh_dev_owner_user"
# Fetch the password from kubernetes
export DBT_DWH_DEV_PASSWORD=$(kubectl get secret $(echo ${DBT_DWH_DEV_USER} | sed 's/_/-/g').acid-minimal-cluster.credentials.postgresql.acid.zalan.do -o 'jsonpath={.data.password}' | base64 -d)

# Prod
# The user in kubernetes configs etc uses a '-', but DBT needs this as a '_'.
export DBT_DWH_PROD_USER="dwh_prod_owner_user"
# Fetch the password from kubernetes
export DBT_DWH_PROD_PASSWORD=$(kubectl get secret $(echo ${DBT_DWH_PROD_USER} | sed 's/_/-/g').acid-minimal-cluster.credentials.postgresql.acid.zalan.do -o 'jsonpath={.data.password}' | base64 -d)